.backB {
    margin:5px 10px 5px 5px;
    width:60%;
    float:left;
}
.logoutB {
    margin:5px 10px 5px 5px;
    width:60%;
    float:right;
}
.loggedAs {
    font-size:10px;
    padding:14px 5px 0px 10px;
}
.logoIcon {
    padding: 6px 4px 4px 4px;
    font-size:10px;
}
.logoIcon span {
    
}
.successT {
    text-align:center;
    font-size:16px;
}
.urlB {
    font-size:12px!important;
}
.menu {
    padding:0px 0 20px 0;
}
.logo {
    width:90%;
    margin:auto auto;
    display:block;
    padding: 80px 0 30px 0;
}
.logo img {
    width:100%;
}
.logoForm {
    width:86%;
    margin:auto auto;
    display:block;
    padding: 30px 0 30px 0;
}
.logoForm img {
    width:100%;
}
.loginContent {
    width:70%;
    margin:auto auto;
    display:block;
    padding: 0px 0 0px 0;
}
.prevImg {
    display:none;
    margin:auto auto;
    width:99%;
    border:1px solid #000;
}

/*Overriding styles*/
.ui-corner-all {
    -moz-border-radius: .9em;
    -webkit-border-radius: .9em;
    border-radius: .9em;
}

.ui-field-contain {
    margin: 0.5em 0;   
}

.ui-input-text {
    line-height:1.8!important;
}

.ui-br {
    border:none!important;
}
.textarea {
    height:80px;
    max-height:80px;
}
